
body{
  font-family: 'FonteLogo', Helvetica, sans-serif;
  background: #e5e5e5;
  color: #25382B;
  }
div#interface {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgb(0,0,0,.5);
  padding: 10px;
  margin: 10px auto;
}

img {
  float: left;  
  margin: 10px;
  border: 5px solid white;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 1s ease;
}

.group img:hover{
  transform: scale(3.1);  
}


