

img {
  list-style: none;
  padding: 0;
}
 img {
  float: left;

  border: 5px solid white;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 1s ease;
}

img:hover{
    transform: scale(1.5);  
}

